<script>
    tailwind.config = {
        darkMode: 'class',
        theme: {
            extend: {
                colors: {
                    // genaric
                    accent1: '#e74c3c',
                    accent2: '#ffd60a',
                    // Light Colors
                    primaryLight: '#2c3e50',
                    secondaryLight: '#ecf0f1',
                    compLight1: '#f1c40f',
                    compLight2: '#2980b9',
                    primaryLightText: '#000',
                    secondaryLightText: '#fff',
                    // Dark Colors
                    primaryDark: '#051923',
                    secondaryDark: '#003554',
                    compDark1: '#006494',
                    compDark2: '#0582ca',
                    primaryDarkText: '#fff',
                    secondaryDarkText: '#00a6fb',
                },
                fontFamily: {
                    font1: 'Delicious Handrawn',
                    font2: 'Raleway',
                }
            }
        }
    }
</script>