{% extends 'base.html' %}

{% block content %}

{% include 'components/hero.html' %}
{% include 'components/navbar.html' %}
{% include 'components/about.html' %}
{% include 'components/services.html' %}
{% include 'components/pricing.html' %}
{% include 'components/portfolio.html' %}
{% include 'components/our_team.html' %}
{% include 'components/contact.html' %}
{% include 'components/footer.html' %}

{% endblock content %}

{% block js %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock js %}