{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock css %}

{% block content %}

{% include 'components/hero.html' %}
{% include 'components/navbar.html' %}
{% include 'components/about.html' %}
{% include 'components/services.html' %}
{% include 'components/pricing.html' %}
{% include 'components/portfolio.html' %}
{% include 'components/contact.html' %}
{% include 'components/footer.html' %}

{% endblock content %}

{% block js %}
<script src="{{ url_for('static', filename='js/script.js', _external=True) }}"></script>
{% endblock js %}