<section id="contact" class="bg-white dark:bg-compDark2 dark:text-primaryDarkText">
    <div class="container px-4 py-16 mx-auto">
      <h2 class="text-3xl font-bold text-center text-primaryDark dark:text-white mb-8">Contact Us</h2>
      <div class="flex flex-col md:flex-row gap-12">
        <div class="md:w-2/3 animate-in invisible" animation="animate__rotateInDownLeft">
          <h3 class="text-xl font-bold text-primaryDark dark:text-white mb-4">Get in touch</h3>
          <p class="text-secondaryDark dark:text-primaryDarkText mb-4">Fill out the form below to send us a message.</p>
          <form action="https://formsubmit.io/send/47a85321-0c02-4b2a-86d8-9599870cbd7b" method="post" class="grid grid-cols-1 gap-4">
            <input name="_redirect" type="hidden" id="name" value="https://tylerthibault.github.io/pixeltek/sent.html">
            <div>
              <label for="name" class="sr-only">Name</label>
              <input type="text" id="name" name="name" placeholder="Name" class="w-full px-4 py-2 border border-gray-300 rounded-md">
            </div>
            <div>
              <label for="email" class="sr-only">Email</label>
              <input type="email" id="email" name="email" placeholder="Email" class="w-full px-4 py-2 border border-gray-300 rounded-md">
            </div>
            <div>
              <label for="message" class="sr-only">Message</label>
              <textarea id="message" name="message" placeholder="Message" class="w-full px-4 py-2 border border-gray-300 rounded-md"></textarea>
            </div>
            <div class="text-right">
              <button type="submit" class="px-4 py-2 text-white bg-primaryDark dark:bg-primaryLight rounded-md hover:bg-secondaryDark dark:hover:bg-secondaryLight">Send</button>
            </div>
          </form>
        </div>
        <div class="animate-in invisible" animation="animate__rotateInDownRight">
          <img src="{{ url_for('static', filename='img/svg/mail_male.svg') }}" alt="email image">
        </div>
      </div>
    </div>
  </section>
  