<div class="flex gap-3 items-center justify-center">
    <p class="text-black dark:text-primaryDarkText">Dark</p>
    <div class="h-[2rem] w-[4rem] bg-primaryLight dark:bg-secondaryDark rounded-full flex toggle-label">
        <span class="h-[2rem] w-[2rem] bg-compLight1 rounded-full cursor-pointer toggle-btn duration-300 caret-transparent flex items-center justify-center shadow shdaow-black"><i class="fa-solid fa-sun col-span-2 theme-icon"></i></span>
    </div>
    <p class="text-black dark:text-primaryDarkText">Light</p>
</div>