<section id="team" class="bg-secondaryLight dark:bg-secondaryDark py-16">
    <div>
        <h2 class="text-5xl font-bold text-center text-secondaryLight dark:text-white mb-8">Meet Our Team</h2>
        <div class="flex flex-col xl:mx-[20rem] 2xl:mx-[30rem] gap-3">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                <div class="bg-secondaryLight shadow shadow-black rounded-lg border border-black animate-in invisible" animation="animate__fadeInLeft">
                    <img class="object-cover w-full h-full" src="{{ url_for('static', filename='img/man1.png') }}" alt="man">
                </div>
                <div class="h-full flex flex-col justify-center items-center shadow shadow-black rounded-lg border border-black text-secondaryLightText bg-compLight2 dark:bg-compDark2 p-10 gap-3 animate-in invisible animate__delay-1s" animation="animate__fadeInRight">
                    <p class="text-4xl font-bold">John Smith</p>
                    <p class="text-2xl">Lead Web Developer</p>
                    <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. At a maxime illum commodi, perspiciatis delectus consectetur aliquid assumenda sequi quasi earum cum cumque alias nesciunt?</p>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                <div class="order-last md:order-first h-full flex flex-col justify-center items-center shadow shadow-black rounded-lg border border-black text-secondaryLightText p-10 bg-compLight2 dark:bg-compDark2 gap-3 animate-in invisible animate__delay-1s" animation="animate__fadeInLeft">
                    <p class="text-4xl font-bold">Jane Doe</p>
                    <p class="text-2xl">Web Design Consultant</p>
                    <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. At a maxime illum commodi, perspiciatis delectus consectetur aliquid assumenda sequi quasi earum cum cumque alias nesciunt?</p>
                </div>
                <div class="order-first md:order-last bg-secondaryLight shadow shadow-black rounded-lg border border-black animate-in invisible" animation="animate__fadeInRight">
                    <img class="object-cover w-full h-full" src="{{ url_for('static', filename='img/woman1.png') }}" alt="man">
                </div>
            </div>
        </div>
    </div>
</section>