{% set prices = [
    {
        "title": "Starter",
        "description": "Perfect for small businesses or personal websites",
        "price": "99/mo",
        "package": [
            "Up to 5 pages",
            "Basic design customization",
            "Contact form",
        ]
    },
    {
        "title": "Starter",
        "description": "Perfect for small businesses or personal websites",
        "price": "99/mo",
        "package": [
            "Up to 5 pages",
            "Basic design customization",
            "Contact form",
        ]
    },
    {
        "title": "Starter",
        "description": "Perfect for small businesses or personal websites",
        "price": "99/mo",
        "package": [
            "Up to 5 pages",
            "Basic design customization",
            "Contact form",
        ]
    },
] %}

<section id="pricing" class="bg-secondaryLight dark:bg-compDark2 dark:text-primaryDarkText">
    <div class="container mx-auto py-16">
        <h2 class="text-3xl font-bold text-center mb-8 dark:text-white">Our Pricing</h2>
        <div class="flex justify-center flex-wrap gap-3">
            {% for item in prices %}
            <div class="w-full max-w-md mx-4 animate-in invisible animate__delay-{{ loop.index0 }}s" animation="animate__flipInX">
                <div class="bg-white dark:bg-primaryLight rounded-lg shadow-lg py-6 px-6">
                    <h3 class="text-xl font-bold mb-2">{{ item.title }}</h3>
                    <p class="text-gray-600 dark:text-secondaryLight mb-6">{{ item.description }}</p>
                    <div class="flex justify-between items-center">
                        <span class="text-gray-700 dark:text-secondaryLight text-lg font-bold">${{ item.price }}</span>
                        <a href="#"
                            class="bg-primaryLight dark:bg-accent2 text-white dark:text-black py-2 px-4 rounded-lg text-sm font-bold hover:bg-accent1 transition-all duration-200">Get
                            Started</a>
                    </div>
                    <div>
                        <ul>
                            {% for package_item in item.package %}
                                <li>{{ package_item }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>